<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lq.luckking"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
  	<uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service  
            android:enabled="true"  
            android:exported="true"  
            android:label="@string/qq_accessibility_service_name"
            android:name="com.lq.luckking.accessibility.QQEnvelopeService"  
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">  
            <intent-filter>  
                <action android:name="android.accessibilityservice.AccessibilityService"/>  
            </intent-filter>  
            <meta-data  
                android:name="android.accessibilityservice"  
                android:resource="@xml/qq_envelope_service_config"/>  
        </service>
        
        <service  
            android:enabled="true"  
            android:exported="true"  
            android:label="@string/wechat_accessibility_service_name"
            android:name="com.lq.luckking.accessibility.WeChatEnvelopeService"  
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">  
            <intent-filter>  
                <action android:name="android.accessibilityservice.AccessibilityService"/>  
            </intent-filter>  
            <meta-data  
                android:name="android.accessibilityservice"  
                android:resource="@xml/wechat_envelope_service_config"/>  
        </service>
        
        <service  
            android:enabled="true"  
            android:exported="true"  
            android:label="@string/alipay_xiu_accessibility_service_name"
            android:name="com.lq.luckking.accessibility.XiuEnvelopeService"  
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">  
            <intent-filter>  
                <action android:name="android.accessibilityservice.AccessibilityService"/>  
            </intent-filter>  
            <meta-data  
                android:name="android.accessibilityservice"  
                android:resource="@xml/alipay_xiu_envelope_service_config"/>  
        </service>
    </application>

</manifest>
